@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

/* Variables */
$black: #060606;
$white: #e3e3e3;

/* Mixins */
@mixin btn {
  float: right;
  margin: 10px 0 0 10px;
  padding: 5px 20px;
  border-radius: 4px;
  background-color: $white;
}

@mixin position {
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
}

/* General style */
body {
  margin-top: 6%;
  background-color: $black;
  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-bottom: 0;
    color: $white;
  }
  p { 
    font-size: 110%;
    color: $white;
  }
}

/* Quotes */
.well {
  @include position;
  background-color: $white;
  #quote {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .9px;
    color: $black;
  }
}

/* Buttons */
.functions {
  @include position;
  #tweet {
    @include btn;
    color: #0084b4;
  }
  #new-quote {
    @include btn;
    color: $black;
  }
}

footer {
  padding-bottom: 10px;
  hr {
    width: 140px;
    margin-bottom: 10px;
  }
  a {
    font-size: 90%;
    color: $white;
    &:active { color: #888; }
    &:visited { color: $white; }
    &:hover { color: #888; }
  }
}